/*botones*/
.h1Nosotros {
  font-size: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

/*standard parte 1*/
/*premium parte 2*/
.footerInicio {
  background-color: #1dadf0;
  display: flex;
  justify-content: space-between; }
  .footerInicio .footer1Inicio {
    width: 30%; }

/*foooter Contacto*/
.footerContacto {
  background-color: rgba(187, 154, 5, 0.63);
  display: flex;
  justify-content: space-between; }
  .footerContacto .footer1Contacto {
    width: 30%; }

/*Nuestro Locales*/
.footerNuestros {
  background-color: rgba(19, 75, 3, 0.822);
  display: flex;
  justify-content: space-between; }
  .footerNuestros .footer1Nuestros {
    width: 30%; }

/*Nosotros*/
.footerNosotros {
  display: flex;
  justify-content: space-between; }
  .footerNosotros .footer1Nosotros {
    width: 30%; }

/*Productos*/
.footerProductos {
  background-color: rgba(6, 88, 143, 0.671);
  display: flex;
  justify-content: space-between; }
  .footerProductos .footer1Productos {
    width: 30%; }

.h1Inicio {
  text-align: center;
  font-size: 40px;
  background-color: #10a9f0;
  color: blue;
  padding: 20px; }

.logoInicio {
  background-color: #10a9f0; }

.enlace {
  animation-name: enlace;
  animation-iteration-count: infinite;
  animation-duration: 30s;
  animation-timing-function: linear; }

@keyframes enlace {
  from {
    transform: rotateZ(0); }
  to {
    transform: rotateZ(360deg); } }

/*Contactos*/
.headerContacto {
  background-color: #e2e211;
  width: 100%; }

.h1Contactos {
  text-align: center;
  padding: 20px;
  color: yellow;
  background-color: rgba(73, 71, 71, 0.664);
  width: 100%; }

/*Nuestro Locales*/
.headerNuestros {
  background-color: green;
  color: lightgrey; }

.h1Nuestros {
  text-align: center; }

.logoNuestro {
  background-color: green; }

/*Productos*/
.headerProductos {
  text-align: center; }

.h1Productos {
  font-size: 50px; }

/*Inicio  main*/
.mainInicio {
  background-color: lightslategray; }

.h2Inicio {
  background-color: lightslategray;
  padding: 20px;
  text-align: center;
  font-size: 40px; }

.h3Inicio {
  background-color: lightgrey;
  color: blue;
  padding: 50px;
  text-align: center;
  border-bottom: 2px solid white; }

/*Contactos main*/
.mainContactos {
  background-color: gray;
  width: 100%; }

.seccion1Contacto {
  width: 100%;
  background-color: beige;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center; }

.divContactos {
  width: 100%;
  padding: 20px; }
  .divContactos .h2Contactos {
    font-size: 40px;
    color: yellow;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.pContactos {
  width: 100%;
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.formContactos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .formContactos .formL {
    text-align: center;
    align-items: center; }

@media screen and (min-width: 72px) and (max-width: 720px) {
  .mainContactos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; } }

/*Nuestro Locales main*/
.mainNuestros {
  background-color: gray; }

.h2Nuestros {
  background-color: #e4f1d2;
  color: green;
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 30px; }

.seccionMapas {
  display: grid;
  grid-template-columns: 50% 50%; }

.pNuestros {
  width: 100%;
  text-align: start;
  margin: 100px auto; }

.pNuestros {
  background-color: gray;
  text-align: center; }

/*Nosotros main*/
.mainNosotros {
  background-color: grey;
  width: 100%; }

.h1Nosotros {
  width: 100%;
  text-align: center;
  color: burlywood;
  background-color: white; }

.h2Nosotros {
  width: 100%;
  text-align: center;
  font-size: 30px;
  padding: 30px;
  background-color: white;
  font-family: Georgia, 'Times New Roman', Times, serif; }

.seccionNosotros {
  display: grid;
  grid-template-columns: repeat(auto-fill, maxmin(10rem, 1fr)); }

@media (min-width: 220px) and (max-width: 720px) {
  .seccionNosotros .imgN {
    display: none; } }

.imgN {
  display: flex;
  justify-content: center;
  padding: 20px; }

.divNosotros {
  font-size: 20px;
  color: #6d0101;
  padding: 20px;
  border: 5px solid rgba(63, 3, 3, 0.548);
  border-radius: 20px;
  margin: 20px auto;
  background-color: white; }

/*Productos main*/
.mainProductos {
  background-color: grey; }

.h2Productos {
  width: 100%;
  font-size: 30px;
  text-align: center;
  background-color: cornflowerblue;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px; }

.seccionProductos {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.img2 {
  display: flex;
  justify-content: center; }

.img2:hover {
  transform: scale(1.1); }

.pProductos {
  width: 100%;
  color: white;
  font-size: 40px;
  text-align: start;
  margin: 50px auto;
  text-decoration: none; }

.seccionArticulos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  padding: 50px; }

.seccionArticulos :hover {
  transform: scale(0.9);
  transition: 2s;
  width: 100%; }

.divProductos {
  border: 1px solid gray;
  width: 100%;
  display: flex;
  justify-content: start; }

.divProductos :hover {
  color: red; }

@media screen and (min-width: 72px) and (max-width: 720px) {
  .seccionArticulos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center; } }

@media screen and (max-width: 480px) {
  .seccionProductos {
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
  .seccionArticulos {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center; } }

@media screen and (max-width: 720px) {
  .seccionProductos {
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
  .seccionArticulos {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center; } }

.p1Productos {
  text-decoration: none;
  text-align: end;
  width: 100%;
  color: white;
  font-size: 40px;
  margin: 50px auto; }

* {
  padding: 0;
  margin: 0; }

body {
  max-width: 100%; }

.logo {
  margin: 20px; }

.pTodos {
  font-size: 15px; }

.span {
  color: red;
  font-size: 15px; }
