/*Inicio  main*/
.mainInicio{
    background-color: lightslategray;

}

.h2Inicio{
    background-color: lightslategray;
    padding: map-get($map: $standard, $key:padding-standard );
    text-align: map-get($map: $premium, $key:text-aling-premium );
    font-size: 40px;
}

.h3Inicio{
    background-color:lightgrey;   
    color: blue;
   padding: map-get($map: $premium, $key: padding-premium);
   text-align: map-get($map: $premium, $key: text-aling-premium );
   border-bottom: 2px solid white;

}




/*Contactos main*/

.mainContactos{
    background-color: gray;
  
   width: 100%;
   }
  
   
   
   .seccion1Contacto{
        width: 100%;
        background-color: beige;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
       
   }
   .divContactos{
    width: 100%;
       padding: 20px;
       .h2Contactos{
        font-size: 40px;
        color: yellow;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
        
    }
   }
   
  
   .pContactos{
       width: 100%;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        }
   
   .formContactos{
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       .formL{
           text-align: center;
           align-items: center;
       } 
   
   }
   
     @media screen and (min-width:72px ) and ( max-width: 720px){   
   .mainContactos{
       width: 100%;
       display: flex;
       flex-wrap: wrap;
       align-items:center;
       justify-content: space-between;
       
   
       }
        
         
     }
   
   




/*Nuestro Locales main*/
.mainNuestros{
    background-color: gray;
}
.h2Nuestros{
    @include colores(#e4f1d2,green);        
    @include centrar(center);
     padding: 20px;   
    font-size: map-get($map: $standard, $key:font-size-standard );
}
.seccionMapas{
    
  display: grid;
  grid-template-columns: 50% 50%;


}
.pNuestros{
    width: 100%;
    text-align: start;
    margin: 100px auto;

   
}
.pNuestros{
    background-color: gray;
    text-align: center;
}






/*Nosotros main*/

.mainNosotros{
    background-color: grey;
    width: 100%;

}
.h1Nosotros{
    width: 100%;
    @include alinear(center);
    @extend %botones2;
    color: burlywood;
    background-color: white;

}

.h2Nosotros{
    width: 100%;
    text-align: center;
    font-size: 30px;
    padding: 30px;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.seccionNosotros{
    display: grid;
    grid-template-columns: repeat(auto-fill,maxmin(10rem,1fr));
  
       
}
@media  (min-width:220px) and (max-width: 720px) {
    .seccionNosotros .imgN{
    display: none;
    }
}

.imgN{
    display: flex;
    justify-content:center;
    padding: 20px;
}


.divNosotros{
    font-size: 20px;
    color: rgb(109, 1, 1);
    padding: 20px;
    border: 5px solid rgba(63, 3, 3, 0.548);
    border-radius: 20px;
    margin: 20px auto;
    background-color: white;

}




/*Productos main*/
.mainProductos{
    background-color: grey;
}
.h2Productos{
    width: 100%;
    font-size: 30px;
    text-align: center;
    background-color: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;

}

    
.seccionProductos{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.img2{
    display: flex;
    justify-content: center;
}

.img2:hover{  
 transform: scale(1.1);

}
.pProductos{
    width: 100%;
    color:white; 
    font-size:40px;
    text-align: start;
    margin: 50px auto; 
    text-decoration: none;
  
  } 
.seccionArticulos{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 30px auto;
        padding: 50px;
        
        
}
.seccionArticulos :hover{

       transform: scale(0.9);
       transition: 2s; 
       width: 100%;

}


.divProductos{
    border: 1px solid gray;
    width: 100%;
    display: flex;
    justify-content:start   ;
    
}

.divProductos :hover{
    color: red;
}

@media screen and (min-width:72px ) and ( max-width: 720px){   
    .seccionArticulos{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items:center;
        
    
        }
      }
@media screen and (max-width: 480px) {
    
    .seccionProductos
    {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        
    }
    .seccionArticulos{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

}
@media screen and (max-width: 720px) {
    
    .seccionProductos
    {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        
    }
    .seccionArticulos{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

}







.p1Productos
{
    text-decoration: none;
    text-align: end;
    width: 100%;
    color:white; 
    font-size:40px;
    margin: 50px auto; 
}








